node_modules/
.env
*.log
.DS_Store

client/node_modules
client/dist
client/.env

server/node_modules
server/dist
server/.env
server/.env.local

.vscode/
!.vscode/settings.json
!.vscode/extensions.json